/* This file is intentionally minimal as TailwindCSS is loaded via CDN. */
/* It can be used for custom styles that are not easily achievable with Tailwind classes. */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hidden {
    display: none;
}
